h1{
  font-size: 4rem;
  font-family: var(--heading-font);
}
h2
{
  font-size: 2.5rem;
  font-family: var(--heading-font);
}
h3
{
  font-size: 1.5rem;
  font-family: var(--heading-font);
}
h4,p
{
  font-size: 1rem;
  font-family: var(--body-font);
}

h1,h2,h3,h4,p{
  margin-bottom: 0.8rem;
}

.btn
{
  display: flex;
  min-width:90px;
  min-height: 35px;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  border: none;
  border-radius: var(--card-radius);
}
.btn.btn-primary
{
  background-color: var(--lighter-gray);
  color: var(--brand-color-2);
}
.btn.btn-secondary
{
  background-color: var(--brand-color-2);
  color: var(--color-white);
}