body
{
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-family: sans-serif;
}
h1,h2,h3,h4,h5,p
{
  margin: 0px;
  padding: 0px;
}
:root
{
  --brand-color-1:#03449d;
  --brand-color-2:#01214b;
  --gray:#1e293b;
  --light-gray:#64748b;
  --lighter-gray:#cbd5e1;
  --lighter-xl-gray:#bbe5b1;
  --color-white:#fff;
  --color-black:#000;
  --heading-font:monospace;
  --body-font:sans-serif;
  --card-radius:10px;
  --card-shadow:1px 1px 3px rgba(0,0,0,0.5)
}
a
{
  color: var(--light-gray);
  text-decoration-thickness: 2px;
  text-decoration-color: var(--brand-color-2);
}
